body {
	background-color: #ffffe6;
}

ul {
list-style-type:none;
width: 200px;
bottom: 25px;
position: absolute;
}

li {
	margin: 10px 15px;
}

li a {
	font-size: 16;
	font-style: italic;
	font-family: Times New Roman;
	text-decoration: none;
	color: black;

}

h1 {
	font-size: 100;
	font-style: italic;
	font-family: Times New Roman;
	-webkit-text-fill-color: #ffffe6;
	-webkit-text-stroke-color: black;
	-webkit-text-stroke-width: 1px;
	position: absolute;
	margin: 50px 50px;
	cursor: default;
	background: none;
}


img{
	width: 200px;
	height: 250px;
	/*border: 1px solid #333;*/
	padding: 0;
	float: left;
	left: 10%;
	bottom: 0;
	display: table-cell;
	text-align: center;
	vertical-align: bottom;
	display: inline-block;
	font-size: 0;
}

div .item {
	vertical-align: top;
	display: block;
	text-align: center;
	width: 5px;
}

.igLogo {
	height: 100px;
	width: 100px;
	float: right;
	display: block;
	
}

#doso {
	margin: 715px 0 0 0;
}

.images img {
	position: relative;
	display: block;
	float: left;
	margin: 525px 0 0 0px;
	bottom: 0px;
}

p {
	display: block;
	position: relative;
	margin: 800px 0 0 0;
	left: 50px;
	float: left;
	bottom: 0;
	font-family: Times New Roman;
	font-size: 24px;
	text-align: center;
	padding: 0;
}

.imgText2 {
	position: relative;
	display: block;
	margin: 815px 0 0 0;
	float: left;
	left: -30px;
	overflow: hidden;
	padding: 0;
	text-align: center;
}